@import './stylesheet/header.css';

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 14px;
}

.App {
  text-align: center;
}

.container {
  width: 1400px;
  padding-top: 150px;
  padding-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.table-cell {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-header .table-cell {
  cursor: pointer;
}

.table-cell.active {
  background-color: #00ffff4f;
  border-left: 1px solid #46675cd6;
  border-right: 1px solid #46675cd6;
}

.column {
  border-bottom: 1px solid #CCCCCC;
}