.App {
  text-align: center;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: 'ProximaNova';
  font-size: 16px;
}

thead tr {
  width: 100% !important;
  border-bottom: 2px solid #cccccc !important;
  color: #999999 !important;
  font-size: 14px !important;
  font-weight: bold !important;
}

.Title-title-40 {
  font-family: 'ProximaNova';
  font-size: 16px;
  font-weight: bold;
}

.logo {
  height: 30px;
  vertical-align: middle;
}